/* STYLES AT THE TOP ARE GIVEN 1ST PRIORITY */

/* Apply css to the most overall tag - html */
html{
    height: 100%;
}

body{
    /* background-color: rgba(3, 2, 3, 0.801); */
    background-color: #2F3035; /*leave the background color for incase an image takes long to load*/
    background-image: url("PROJECT_1/background-adare-restaurant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    text-align: center;
    height: 118px;
    /* background-color: blue; */
    /* width: 1024px;
    margin-left: auto;
    margin-right: auto; */
}

nav {
    background-color: rgba(17, 17, 17, 0.338); /*made background color transparent*/
    /* to center a tags horizontally in the nav, we get rid of the height and we use padding */
    padding: 14px 0 14px 0; /*padding: top right bottom left;*/
    text-align: center;
    /* height: 40px; */ /*I've commented out the height and using padding instead in the lines above*/
    /* width: 1024px; */
    /* margin-left: auto;
    margin-right: auto; */
}
 
nav a {
    text-decoration: none;
    font-size: 12px;
    padding: 0 10px 0 10px;
}

main{
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
    /* background-color: orange; */
     /* width: 1024px; */
    /* margin-left: auto;
    margin-right: auto; */
}

footer {
    background-color: rgba(0, 0, 0, 0.664);
    padding-top: 50px;
    padding-bottom: 50px;
    /* height: 100px; */
    /* width: 1024px; */
    /* margin-left: auto;
    margin-right: auto; */
}
footer p{
    font-size: 9px;
    color: rgb(218, 214, 214);
    text-align: center;
}

h1{
    font-size: 84px; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 }

a {
    color: honeydew;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}

.maps{
    margin-bottom: 100px;
}






/* h1{
    color: brown;
} */